{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
{% endblock %}

{% block body %}
<h1>All Posts</h1>
<hr>
<h2>Created New Blog Post:</h2>
<form action='/posts/edit/{{post.id}}' method='POST'>
    <br>
    <label for="title">Title:</label>
    <input class="form-control" type="text" id='title' name='title' value="{{post.title}}">
    <br>
    <label for="author">Author:</label>
    <input class="form-control" type="text" id='author' name='author' value="{{post.author}}">
    <br>

    <label for="content">Post:</label>
    <textarea class="form-control" name='content' id='content' placeholder="Enter Content" aria-label="Enter Content"
        rows="3">{{ post.content }}</textarea>
    <br>
    <input type='submit' value='Save'>
</form>
<hr>

{% endblock %}