{% extends 'base.html' %}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}
<br>
<h1>HOme page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my blog.You can talk about anything you want.Any new tech,firlds,findings,data science ,or like anything related to computer science.</p>
            <p>Go visit our website <a href="https://www.google.com"></a> to  check out more coool stuff.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts&raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}